<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Roomba Cat Stalker</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/roombaShapes.css?1" rel="stylesheet">
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        
      }
      .container {
        width: 300px;
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; 
        -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

	  .login-form {
		margin-left: 65px;
	  }
	
	  legend {
		margin-right: -50px;
		font-weight: bold;
	  	color: #404040;
	  }

    </style>

    <title>{% block title %}templates/base.html{% endblock %}</title>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js' type='text/javascript'></script>
	<script type="text/javascript">
	$( document ).ready( function() {
		$( '#getSensors' ).click( function() {
			var sensordata = $.get( '{% url "controlcenter.views.controlAction" %}?getSensors=getSensors', function(data){
				alert(data)
				var idsArray = {
					"roombaLeftBump":"json_response.bumps.left",
					"roombaRightBump":"json_response.bumps.right",
					"roombaLeftWheelDrop":"json_response.wheel_drops.left",
					"roombaRightWheelDrop":"json_response.wheel_drops.right",
					"roombaCastorWheelDrop":"json_response.wheel_drops.castor",
					"roombaLeftTopCliff":"json_response.cliff.front_left",
					"roombaRightTopCliff":"json_response.cliff.front_right",
					"roombaLeftCliff":"json_response.cliff.left",
					"roombaRightCliff":"json_response.cliff.right"};
				var json_response = JSON.parse(data);
				
				document.getElementById('roombaSensorData').innerHTML = "Sensor Data: Voltage"+json_response.voltage;
				for (var idName in idsArray) {
				  if (idsArray.hasOwnProperty(idName)) { 
	  				if (eval(idsArray[idName])==true){
	  					document.getElementById(idName).style.cssText = 'background:red';
	  				}
	  				else {
	  					document.getElementById(idName).style.cssText = 'background:white';
	  				}
				    
				  }
				}
				
    		});
			
			
		});
		$( '#connect' ).click( function() {
			$( '#results' ).html( '&nbsp;' ).load( '{% url "controlcenter.views.controlAction" %}?connect=connect');
		});
		$( '#takePicture' ).click( function() {
			//$( '#results' ).html( '&nbsp;' ).load( '{% url "controlcenter.views.controlAction" %}?takePicture=takePicture');
			$.get( '{% url "controlcenter.views.controlAction" %}?takePicture=takePicture');
			//if true then reload picture
			d = new Date();
			$("#imageFromRobot").attr("src", "{{ STATIC_URL }}img.jpeg?"+d.getTime());
			
		});
	});

	setInterval(pulse, 5000);

	function pulse(){
		console.log("IN Pulse");
		getSensors();
		takePicture();
	}
	
	function getSensors(){
		var sensordata = $.get( '{% url "controlcenter.views.controlAction" %}?getSensors=getSensors', function(data){
                              
                                var idsArray = {
                                        "roombaLeftBump":"json_response.bumps.left",
                                        "roombaRightBump":"json_response.bumps.right",
                                        "roombaLeftWheelDrop":"json_response.wheel_drops.left",
                                        "roombaRightWheelDrop":"json_response.wheel_drops.right",
                                        "roombaCastorWheelDrop":"json_response.wheel_drops.castor",
                                        "roombaLeftTopCliff":"json_response.cliff.front_left",
                                        "roombaRightTopCliff":"json_response.cliff.front_right",
                                        "roombaLeftCliff":"json_response.cliff.left",
                                        "roombaRightCliff":"json_response.cliff.right"};
                                var json_response = JSON.parse(data);

                                document.getElementById('roombaSensorData').innerHTML = "Sensor Data: Voltage"+json_response.voltage;
                                for (var idName in idsArray) {
                                  if (idsArray.hasOwnProperty(idName)) {
                                        if (eval(idsArray[idName])==true){
                                                document.getElementById(idName).style.cssText = 'background:red';
                                        }
                                        else {
                                                document.getElementById(idName).style.cssText = 'background:white';
                                        }

                                  }
                                }

		});
	}
	function takePicture( )
	{
		$.get( '{% url "controlcenter.views.controlAction" %}?takePicture=takePicture');
                 //if true then reload picture
                d = new Date();
                $("#imageFromRobot").attr("src", "{{ STATIC_URL }}img.jpeg?"+d.getTime());
	}
	</script>
	
</head>
<body>
<div id="sidebar"align="right">
    {% block sidebar %}
		<input type="button" class="btn btn-info" value="Home" onClick="window.location='/controlcenter/' ">
        {% if user.is_authenticated %}
			<input type="button" class="btn btn-info" value="Log Out" onClick="window.location='/accounts/logout' ">
        {% else %}
			<input type="button" class="btn btn-info" value="Log In" onClick="window.location='/accounts/login' ">
        {% endif %}
    {% endblock %}
</div>
<div class="row">

<div id="buttonInputs" class="span4">
	<div class="row" align="center">
		<br>
		<input id="getSensors" type="submit" class="btn btn-primary" value="getSensors"/>
		<input id="takePicture" type="submit" class="btn btn-primary" value="takePicture"/>
		<br>
	</div>
	<form method="post" action="{% url "controlcenter.views.controlAction" %}">
		{% csrf_token %}
	        <input type="text" name="speed" value="speed">
		  <div class="row" align="center">
			  <input type="submit" class="btn btn-success" name="forward" value="forward" />
		  </div>
		  <div class="row" align="center">
		  	<input type="submit" name="left" class="btn btn-success" value="left" />
		  	<input type="submit" name="stop" class="btn btn-danger" value="stop" />
		  	<input type="submit" name="right" class="btn btn-success" value="right" />
		  </div>
		  <div class="row" align="center">
		  	<input type="submit" name="backward" class="btn btn-success" value="backward" />
		  </div>
		  <div class="row" align="center">
		  	<input type="submit" class="btn btn-warning" name="disconnect" value="disconnect" />
		  </div>
	</form>
	<div class="row" align="center">
		<input id="connect" type="submit" class="btn btn-inverse" value="connect"/>
	</div>
</div>

<div id="sensorData" class="span5">
	<p id="roombaSensorData">Sensor Data: </p>
	<p id="roombaLeftBump" class="roomba leftBump">
	<p id="roombaRightBump" class="roomba rightBump">
	<p id="roombaLeftWheelDrop" class="roomba leftWheelDrop">
	<p id="roombaRightWheelDrop" class="roomba rightWheelDrop">
	<p id="roombaCastorWheelDrop" class="roomba castorWheelDrop">
	<p id="roombaLeftTopCliff" class="roomba leftTopCliff">
	<p id="roombaRightTopCliff" class="roomba rightTopCliff">
	<p id="roombaLeftCliff" class="roomba leftCliff">
	<p id="roombaRightCliff" class="roomba rightCliff">
	<p class="roomba circle">
	
    {% block sensorData %}
	
	
	{% endblock %}
	
</div>
<div id="results" class="span9">
	<img src="{{ STATIC_URL }}img.jpeg" id="imageFromRobot" alt="Smiley face" height="480" width="640">
	
</div>
</div>
</body>
</html>
